    {% extends "base.html" %}
    {% load static %} 
    
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

    {% block content %} 

    <h2>Latest News</h2>
    
    <div id="Write New Story">
        <a href="{% url 'news:newsStory' %}"><h2>Write New Story</h2></a>
    </div>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    
    <div id="View By Author">
    <a href="{% url 'users:authors' %}"><h2>View By Author</h2></a>
    </div>

    {% endblock %}
